
#div1{ 
    height: 100px; 
    width: 100px;
background-color: blue;  
margin-top: 25px;
margin: 25px; 
padding: 25px; 
display: inline-block; 
background-color: rgba(0, 255, 115, 0.597);
} 
#div2{ 
    height: 100px; 
    width: 100px;
background-color:rgba(24, 110, 175, 0.189) ; 
margin: 25px; 
padding: 25px; 
/* display: none;  */  

/* visibility: hidden; */

} 
#div3{ 
    height: 100px; 
    width: 100px;
  background-color: rgba(153, 255, 0, 0.657);   
  margin: 25px; 
padding: 25px; 
display: inline-block;
}